@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* ------------- RESET DE ESTILOS ------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ------------- CONFIGURAÇÕES GERAIS ------------- */
html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f4f7fe;
    font-family: 'Quicksand', sans-serif;
    
    display: flex;
}


/* ---------------------PADRÕES--------------------- */
button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

button:hover {
    color: blueviolet;
}

button:active {
    background-color: #f4f7fe;
    color: blueviolet;
}

strong {
    color: blueviolet;
}


/* ---------------------MENU--------------------- */
header {
    padding: 0 2rem;
    background-color: #f4f7fe;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 6.3rem;
}

header button {
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    font-weight: 600;
}


/*__________________ CONTEÚDO PRINCIPAL__________________ */
.conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

main {
    margin: auto;
    max-width: 40rem;
    padding: 0 3rem;
}


/* ---------------------TÍTULOS--------------------- */
#titulo h1 {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.3rem;
}

#titulo h2 {
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    font-weight: 700;
}


/* ---------------------DISPLAY--------------------- */
#display {
    padding: 2rem 0;
}

#display .calculo {
    font-size: 1.3rem;
    font-weight: 600;
}

#display .resultado {
    font-size: 3.5rem;
    font-weight: 600;
    overflow-x: auto;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    height: 0.4rem;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 2rem;
}
 

/* ---------------------TECLAS--------------------- */
#teclas {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    row-gap: 0.7rem;
    column-gap: 1.5rem;
}

.operadores {
    background-color: blueviolet;
    height: 3rem;
    border-radius: 2rem;
    color: white;
}

.moedas-btn,
.botaoConverter button {
    width: 100%;
    height: 4.5rem;
    border-radius: 1.5rem;
    background-color: blueviolet;
    color: white;
}

.moedas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-left: 2rem;
}

.botaoConverter {
    grid-column: 1/3;
    margin: 2rem 0;
} 

.convert-btn:hover,
.moedas-btn:hover,
.operadores:hover {
    color: white;
}

.convert-btn:active,
.moedas-btn:active,
.operadores:active {
    background-color: rgb(102, 32, 168);
    color: white;
}


/* ---------------------RODAPÉ--------------------- */
footer {
    text-align: center;
    margin-bottom: 0.5rem;
}


/* __________________CONTEUDO LADO DIREITO__________________ */
.banner {
    width: 50%;
    overflow-x: hidden;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* __________________MOBILE__________________ */
@media screen and (max-width: 760px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: white;
    }

    button {
        font-size: 2rem;
        width: 6.5rem;
        height: 6.5rem;
        background-color: transparent;
    }

    div.line-mobile {
        background-color: rgba(0, 0, 0, 0.795);
        width: 15rem;
        height: 0.5rem;
        margin: 0 auto 2rem auto;
        border-radius: 2rem;
    }

    header {
        width: 100vw;
        padding: 2rem;
        border-radius: 4rem;
        margin-top: -3.5rem;
        background-color: white;
    }

    .registrar {
        background-color: #f4f7fe;
        font-size: 1.5rem;
    }

    .conteudo {
        order:2;
        width: auto;
    }

    ::-webkit-scrollbar-track {
        background-color: #f4f7fe;
        border-radius: 2rem;
    }

    .operadores {
        background-color: blueviolet;
        height: 4.4rem;
        border-radius: 2rem;
        color: white;
    }

    #teclas {
        grid-template-columns: 1fr;
    }

    .moedas {
        flex-direction: row;
        margin: 2rem 0 0 0;
    }

    .moedas-btn {
        font-size: 1.5rem;
    }

    .botaoConverter {
        grid-column: 1/2;
    }

    .banner {
        border-radius: 0;
        width:100%;
        overflow-x: hidden;
    }
}